#app {
    color: var(--color-normal-contrast-weakest);
    margin: auto;
    width: 180px;
}

ui-drag-item {
    margin-left: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    border: 1px dashed #fff;
}
  
ui-drag-item:hover {
    border-color: rgb(20, 226, 106);
}

ui-drag-area {
    margin-left: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    border: 1px dashed rgb(37, 148, 227);
}
  
ui-drag-area:hover {
    border-color: rgb(236, 23, 48);
}