<div>
    <h1 id="app"></h1>
    <ui-button id="button" @confirm="click">Button</ui-button>
    <ui-checkbox>Empty</ui-checkbox>
    <ui-checkbox value="false">False</ui-checkbox>
    <ui-checkbox value="true">True</ui-checkbox>
    <ui-color value="[22,244,55,99]"></ui-color>
</div>
<div></div>
<div></div>
<div>
    <ui-drag-item
      type="my-defined-asset-type-for-drop"
      additional='{"value":"this additional is dragInfo data."}'
    >
      <ui-label value=" Drag me to assets panel, and look console log"></ui-label>
    </ui-drag-item>
    
    <ui-drag-area id="dropToPanel"
      type="my-defined-asset-type-for-drop"
      additional='{"value":"this additional is dragInfo data."}'
    >
      <ui-label value=" Drag asset to me, and look console log"></ui-label>
    </ui-drag-area>
</div>
<div style="height: 400px;">
  <!-- 使用非同源页面路径-->
  <!-- <iframe id="preview" src="http://localhost:7456" style="width: 100%; height: 100%; margin-top: 2%; margin-bottom: 2%;">非同源页面</iframe> -->
  <!-- 使用同源页面时需要使用绝对路径-->
  <iframe id="preview" src="file://D:\gitee\cocos-awesome-tech-solutions\extensions\CocosPluginTest\extensions\simple-1667547732624\static\template\default\web-mobile\index.html" style="width: 100%; height: 100%; margin-top: 2%; margin-bottom: 2%;">同源页面</iframe>
</div>