.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

button{
  padding: 8px 16px;
  font-size: 0.8rem;
  outline:none;
  cursor: pointer;
  border: 0px;
  position: relative;
  right: 10px;
  bottom: 10px;
  margin: 20px;
  transition: all .25s ease;
}

.btn-4{
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  color: #fff;
  background: #41b9c5;
  border-radius: 30px;
  z-index: 100;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}

.btn-4:hover {
  transform: translate(0,-2px);
  z-index: 5;
  box-shadow: 5px -5px 15px 0px rgba(143, 64, 248, .25), -5px 5px 15px 0px rgba(39, 200, 255, .25);

}

#loading-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  background: #333;
}

.dot {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  animation: dotChange 1s linear infinite alternate;
}

.dot-1 {
  animation-delay: 0.2s;
}
.dot-2 {
  animation-delay: 0.4s;
}
.dot-3 {
  animation-delay: 0.6s;
}
.dot-4 {
  animation-delay: 0.8s;
}
.dot-5 {
  animation-delay: 1s;
}

@keyframes dotChange {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

webview {
  flex: 1;
}
